{% extends "base.html" %}

{% block app_content %}

<form action="{{ url_for('main.save_tags') }}" method="post">
    {{ form.hidden_tag() }}
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          {{ form.tags.label }}
          <small class="text-muted">{{ form.tags.description }}</small>
          {{ form.tags(class_="form-control") }}

          {% for error in form.tags.errors %}
          <span class="label label-danger">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
    </div>
    {{ form.submit(class_="btn btn-primary") }}
</form>


{% endblock %}
